label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.4rem;
    font-weight: bold;
}

input,
textarea {
    border: 1px solid #dddfe2;
    width: 100%;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
    max-width: 300px;
    min-width: 240px;
}

textarea {
    height: auto;
    max-width: 300px;
    field-sizing: content;
}

input:focus,
textarea:focus {
    border: 2px solid #0866ff;
    outline: none;
}