 *,
 *:before,
 *:after {
   box-sizing: border-box;
 }

 * {
   margin: 0;
   padding: 0;
 }

 html {
   font-family: "Roboto", sans-serif;
   font-size: 62.5%;
   /* background-color: #282828; */
 }